body {
  font-size: 1em;
  margin: 0;
  height: 100vh;
  background-color: #ddd;
}

.calculator {
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25em;
  aspect-ratio: 1/1.58;
  border: 1px solid black;
  background-color: #55677b;
  border-radius: .5em;
  box-shadow: 0 0 2em .2em rgba(0, 0, 0, .3);
  user-select: none;
}

.calculator .mic-off,
.mic-on {
  font-size: 1.5em;
  position: relative;
  width: 1.75em;
  height: 1.75em;
  border: none;
  outline: 1px double white;
  border-radius: .25em;
  margin: .5em;
  background: #eee url("../mic-off.svg") no-repeat center;
  background-size: 1.25em;
  cursor: pointer;
}

.calculator .mic-on {
  background-image: url("../mic-on.svg");
  background-size: 1em;
  outline: 3px solid cyan;
}

.calculator>.sci {
  font-size: 1em;
  float: right;
  width: 3em;
  height: 2.75em;
  line-height: 1.1em;
  border: none;
  color: black;
  box-sizing: border-box;
  outline: 1px double white;
  background-color: #ddd;
  border-radius: .5em;
  margin: .75em 1em .75em auto;
  cursor: pointer;
}

.calculator>.display {
  font-size: 2.5em;
  width: 95%;
  padding-top: 2.5em;
  text-align: right;
  background-color: #a0ac9d;
  aspect-ratio: 1/.4;
  margin: auto;
  caret-color: white;
  overflow-y: auto;
  border: 1px groove black;
  border-radius: .25em;
  font-family: monospace;
  color: rgb(0, 0, 200);
  text-shadow: 0 0 2px white;
}

.calculator .display:focus {
  outline: none;
}

.calculator>.buttons {
  font-size: 2em;
  display: grid;
  width: 95%;
  aspect-ratio: 1/.9;
  margin: .25em auto;
  gap: .25em;
  grid-template-columns: repeat(4, 1fr);
}

.calculator .btn {
  position: relative;
  font-size: inherit;
  font-weight: 300;
  background-image: linear-gradient(-45deg, #d5d5d5, #fafafa, #d5d5d5);
  border: none;
  border-radius: .2em;
  overflow: hidden;
  outline: 1px solid #fff;
  padding: .1em;
}

.calculator .equal {
  background-image: linear-gradient(-45deg, lightblue, rgb(235, 254, 254), lightblue);
}

.calculator .remove {
  color: transparent;
  background: #fafafa url("../backspace.svg") no-repeat center;
  background-size: 1.2em;
}

.calculator .clear {
  background-image: none;
  background-color: rgb(254, 186, 59);
  color: white;
}

.calculator .btn::before {
  content: "";
  display: block;
  inset: auto auto 0 0;
  position: absolute;
  background-color: #aaa;
  width: 200%;
  height: 200%;
  border-top-right-radius: 50%;
  opacity: 0;
  transition: .3s ease-out;
}

.calculator .btn:hover {
  transition: .25s;
  scale: 1.05;
  outline: 2px double white;
  cursor: pointer;
}

.calculator .btn:active {
  scale: 0.95;
}

.calculator .btn:active::before {
  transition: 0s;
  width: 0;
  height: 0;
  opacity: 1;
}

@media screen and (max-width:468px) {
  body {
    font-size: 3.75vw;
  }

  .calculator .buttons {
    gap: .3em;
  }

  .calculator .btn {
    font-weight: 300;
  }
}